<div class='row'>
  <div class="col">
    <div class="col-3 h4 mt-4 mb-4 bg-light text-black text-center">会員一覧</div>
    <div class="col-8 offset-2">
      <table class="table">
        <tbody>
          <tr>
            <th class="col-2 table-light border-bottom">会員ID</th>
            <th class="col-3 table-light border-bottom">氏名</th>
            <th class="col-4 table-light border-bottom">メールアドレス</th>
            <th class="col-2 table-light border-bottom">ステータス</th>
          <tr>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.id %></td>
              <td><%= customer.first_name %><%= customer.last_name %></td>
              <td><%= customer.email %></td>
                <% if customer.is_deleted %>
                <td class="text-secondary">退会</td>
                <% else %>
                <td class="text-success">有効</td>
                <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>